<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smartpoint.marquee">
    <!--连接网络权限，用于执行云端语音能力 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--获取手机录音机使用权限，听写、识别、语义理解需要用到此权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!--读取网络信息状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--获取当前wifi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!--允许程序改变网络连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <!--读取手机信息权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--读取联系人权限，上传联系人需要用到此权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <!--外存储写权限，构建语法需要用到此权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--外存储读权限，构建语法需要用到此权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!--配置权限，用来记录应用配置信息 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <!--手机定位信息，用来为语义等功能提供定位，提供更精准的服务-->
    <!--定位信息是敏感信息，可通过Setting.setLocationEnable(false)关闭定位请求 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!--如需使用人脸识别，还要添加：摄相头权限，拍照需要用到 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.DEVICE_POWER"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>


    <!-- Required -->
    <permission
        android:name="com.smartpoint.marquee.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Required  一些系统要求的权限，如访问网络等-->
    <uses-permission android:name="com.smartpoint.marquee.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />


    <!-- Optional for location -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <application
        android:allowBackup="true"
        android:name="com.smartpoint.MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.RxJavaLearnActivity" />
        <activity android:name=".activity.WebViewActivity" android:screenOrientation="landscape"/>
        <activity android:name=".activity.VRActivity" />
        <activity android:name=".activity.TencentWebViewActivity" />
        <activity android:name=".activity.PickerViewActivity" />
        <activity android:name=".activity.MediaPlayActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".activity.ZxinActivity" />
        <activity
            android:name="com.tencent.smtt.sdk.VideoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTask"
            android:alwaysRetainTaskState="true">
            <intent-filter>
                <action android:name="com.tencent.smtt.tbs.video.PLAY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ContactActivity" />
        <activity android:name=".activity.SQLiteActivity" />
        <activity android:name=".activity.LitePalActivity" />
        <activity android:name=".activity.DecodeActivity" />
        <activity android:name=".activity.JniActivity" />
        <activity android:name=".activity.ScreenLockActivity" />
        <activity android:name=".activity.CountDownTimerActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".activity.GoogleActivity" />
        <activity android:name=".activity.DistinctActivity" />
        <activity android:name=".activity.SvgActivity" />
        <activity android:name=".activity.SurfaceViewActivity" />
        <activity android:name=".activity.LineChartsActivity" />
        <activity android:name=".activity.ColumnChartActivity" />
        <activity android:name=".activity.WebAppActivity" />
        <activity android:name=".activity.FontActivity" />
        <activity android:name=".activity.PingTestActivity" />
        <activity android:name=".activity.Decode2Activity" />
        <activity android:name=".activity.WebSocketActivity" />
        <activity android:name=".activity.WaterWaveActivity" />
        <activity android:name=".activity.BaiDuVoiceMadeActivity" />
        <activity android:name=".activity.LeonidsActivity" />
        <activity android:name=".activity.ExplosionAnimationActivity" />
        <activity android:name=".activity.ValueAnimatorActivity" />
        <activity android:name=".activity.FingerprintsRecogActivity" />
        <activity android:name=".activity.ChoosePictureActivity" />
        <activity android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />

        <activity android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>


        <!-- 设备管理 -->
        <receiver android:name=".AdminReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data android:name="android.app.device_admin"
                android:resource="@xml/lock_screen" />
            <intent-filter>
                <action
                    android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
        <meta-data
            android:name="com.baidu.speech.APP_ID"
            android:value="11164859" />
        <meta-data
            android:name="com.baidu.speech.API_KEY"
            android:value="KQqvRCdUhyE79spXtXEf1cuo" />
        <meta-data
            android:name="com.baidu.speech.SECRET_KEY"
            android:value="dcd5db8eadc7d59dce926b0f5febea39" />

        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.smartpoint.marquee" />
            </intent-filter>
        </activity>

        <!-- Rich push 核心功能 since 2.0.6-->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:theme="@style/MyDialogStyle"
            android:exported="false">
        </activity>
        <activity android:name=".activity.DownloadActivity" />
        <activity android:name=".activity.SideDeleteActivity" />
        <activity android:name=".activity.RichEditorActivity" />
        <activity android:name=".activity.XfVoiceActivity" />
        <activity android:name=".activity.MapBoxActivity" />
        <activity android:name=".activity.SvgaActivity" />
        <activity android:name=".activity.SurfaceViewDrawActivity2" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.DanMuActivity" />
        <activity android:name=".activity.VideoShowActivity" />
        <activity android:name=".activity.FaceRecognizeActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.DetecterActivity" />
        <activity android:name=".activity.UnzipActivity" />
        <activity android:name=".activity.SurfaceViewDrawActivity" />
        <activity android:name=".activity.DocumentReadingActivity" />
        <activity android:name=".activity.SkeletonActivity" />
        <activity android:name=".activity.SkeletonViewActivity" />
        <activity android:name=".activity.SkeletonListViewActivity" />
        <activity android:name=".activity.AutoViewActivity" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="true"
            android:taskAffinity="net.sourceforge.simcpux"
            android:launchMode="singleTask"/>
        <!-- Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:process=":mult"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
        <!-- since 3.0.9 Required SDK 核心功能-->
        <provider
            android:authorities="com.smartpoint.marquee.DataProvider"
            android:name="cn.jpush.android.service.DataProvider"
            android:exported="false"
            />
        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />
                <category android:name="com.smartpoint.marquee" />
            </intent-filter>

        </service>
        <!-- since 3.1.0 Required SDK 核心功能-->
        <provider
            android:authorities="com.smartpoint.marquee.DownloadProvider"
            android:name="cn.jpush.android.service.DownloadProvider"
            android:exported="true"
            />
        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />   <!--Required  显示通知栏 -->
                <category android:name="com.smartpoint.marquee" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" android:exported="false"/>
        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>
        <meta-data android:name="JPUSH_APPKEY" android:value="38bea112a60df0234ff67ba8" /> <!--  </>值来自开发者平台取得的AppKey-->
    </application>

</manifest>